{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    outline: none;
    border: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffb6c1;
}

/* chat box section */

.chat-box {
    width: 400px;
    height: 450px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}


/* about client */

.client{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background-color: #77b3d4;
    padding: 15px;
}

.client-info {
    color: black;
    padding: 15px;
}

.client-info p{
    color: #008000;
    font-weight: bold;
    font-size: 0.8em;
}

/* chat section */

.chats{
    width: 100%;
    padding: 0 15px;
    color: black;
    position: relative;
    font-size: 0.9em;
}
.clinet-chat {
    width: 60%;
    word-wrap: break-word;
    background-color: #4f5d73c7;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
}

.my-chat{
    width: 60%;
    word-wrap: break-word;
    background-color: #ff6;
    padding: 7px 10px;
    border-radius: 10px 10px 0 10px;
    margin: 5px 0 5px auto;
}

/* input section */

.chat-input{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.chat-input input{
    width: calc(100% - 40px);
    height: 100%;
    background-color: #4f5d7321;
    border-radius: 50px;
    color: #000;
    font-size: 1.2em;
    padding: 0 15px;
}

.send-btn{
    width: 40px;
    height: 40px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.send-btn:active{
    transform: scale(0.05);
}

.send-btn img{
    width: 100%;
    height: 100%;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Open Sans',sans-serif;
}
.container
{
        position:relative;
        width:1396px;
        max-width:100%;
        height:calc(100vh - 40px);
        background:#fff;
        box-shadow:0 1px 1px 0 rgba(0,0,0,0.06),0 2px 5px 0 rgba(0,0,0,0.06);
        display:flex;
}
.container .leftSide
{
        position:relative;
        flex:30%;
        background:#D3D3D3;
        border-right:1px solid #fff;
}


.container .rightSide::before
{
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:#FFC0CB;
        opacity:0.06;
}
.header
{
        position:relative;
        width:100%;
        height:40px;
        background:#D3D3D3;
        
}
.search_chat
{
        position:relative;
        width:100%;
        height:50px;
        background:#D3D3D3;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:0 15px;
}
.search_chat div
{
        width:100%;
}
.search_chat div input
{
        width:100%;
        outline:#000000;
        border:none;
        background:#fff;
        padding:6px;
        height:38px;
        border-radius:30px;
        font-size:14px;
        padding-left:140px;
}
.search_chat div input::placeholder
{
        color:#000000;
}
.search_chat div ion-icon
{
        position:absolute;
        right:30px;
        top:14px;
        font-size:1.2em;
}